@mixin button($type, $bg-color, $text-color: #fff, $border-radius: 0, $padding){
  @if $type == "flat" {
    border: none;
    background-color: $bg-color;
  } @else if $type == "outline" {
    border: 1px solid $bg-color;
    background-color: transparent;
  }
  border-radius: $border-radius;
  padding: $padding;
  font-weight: 500;
  color: $text-color;
  font-family: "Lora", serif;
  transition: 0.2s;
  cursor: pointer;
}

@mixin flex($direction, $justify: flex-start, $align: center, $gap: normal normal,$wrap: nowrap ) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
  justify-content: $justify;
  flex-wrap: $wrap;
  align-items: $align;
}

@mixin debug($color: red) {
  border: 1px solid $color;
}
